        @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



  		* {
  			box-sizing: border-box;
  			-webkit-box-sizing: border-box;
  			-moz-box-sizing: border-box;
  			-ms-box-sizing: border-box;
  			/*padding: 0;
  			margin: 0;*/
  			font-family: 'Montserrat', sans-serif;
  		}

		:root {
		    --accent-color: #c0805d;
		    --main-color: #1d1d1d;
		    --second-color: #94d1ac;
		    --font-rubik-mono-one: 'Rubik Mono One', sans-serif;
		}

		.font-rubik {
			font-family: 'Rubik Mono One', sans-serif;
			font-style: italic;
		}

		.text-decoration-color {
			text-decoration-color: var(--accent-color);
		}

		/* Navbar */
		nav {
			width: 100%;
			position: fixed !important;
			z-index: 10;
			top: 0 !important;
			background: white !important;
		}

		.image-logo {
			width: 150px;
			height: auto;
		}

		.wrapper {
			 transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		}
		 .navbar {
			 height: 75px;
			 transition: all 0.5s 0.1s;
			 -webkit-transition: all 0.5s 0.1s;
			 -moz-transition: all 0.5s 0.1s;
			 -ms-transition: all 0.5s 0.1s;
		}
		 .navbar-offcanvas {
			 z-index: 1030;
		}
		 .navbar-offcanvas .container-fluid {
			 position: relative;
			 padding: 0;
			 transform: translate3d(0px, 0, 0);
			 -webkit-transform: translate3d(0px, 0, 0);
			 -moz-transform: translate3d(0px, 0, 0);
			 -ms-transform: translate3d(0px, 0, 0);
			 transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		}
		 .navbar-offcanvas .navbar-top {
			 display: none;
		}
		.nav-link {
			font-size: 24px;
			text-transform: uppercase;
			font-family: 'Rubik Mono One', sans-serif;
			font-style: italic;
			font-weight: 400;
		}
		.nav-link:hover {
			color: var(--accent-color);
		}
		 @media (min-width: 992px) {
			 .navbar-offcanvas .navbar-top {
				 display: flex;
				 margin-left: auto;
			}
		}
		 .navbar-offcanvas .navbar-top .nav-item {
			 margin-right: 22px;
			 text-align: center;
		}
		 .navbar-offcanvas .navbar-top .nav-item a:hover {
				 color: var(--accent-color) !important;
		}
		 @media (max-width: 991px) {
			 .navbar-offcanvas .navbar-top .nav-item .nav-link {
				 color: #000;
			}
		}
		 .navbar-offcanvas .navbar-toggler {
			 padding: 0;
			 border: 0;
			 outline: none;
		}
		 .navbar-offcanvas .navbar-toggler:hover, .navbar-offcanvas .navbar-toggler:focus {
			 cursor: pointer;
		}
		 @media (min-width: 768px) {
			 .navbar-offcanvas .navbar-toggler {
				 display: block;
			}
		}
		 .navbar-offcanvas .navbar-toggler .icon-bar {
			 display: block;
			 position: relative;
			 width: 30px;
			 height: 3px;
			 border-radius: 1px;
			 -webkit-border-radius: 1px;
			 -moz-border-radius: 1px;
			 -ms-border-radius: 1px;
			 background-color: #000;
		}
		 .navbar-offcanvas .navbar-toggler .icon-bar + .icon-bar {
			 margin-top: 4px;
		}
		 .navbar-offcanvas .navbar-toggler .icon-bar.bar1 {
			 top: 0;
			 outline: 1px solid transparent;
			 animation: topbar-back 500ms 0s;
			 -webkit-animation: topbar-back 500ms 0s;
			 -moz-animation: topbar-back 500ms 0s;
			 -ms-animation: topbar-back 500ms 0s;
			 animation-fill-mode: forwards;
			 -webkit-animation-fill-mode: forwards;
			 -moz-animation-fill-mode: forwards;
			 -ms-animation-fill-mode: forwards;
		}
		 .navbar-offcanvas .navbar-toggler .icon-bar.bar2 {
			 outline: 1px solid transparent;
			 opacity: 1;
			 -webkit-opacity: 1;
			 -moz-opacity: 1;
			 -ms-opacity: 1;
		}
		 .navbar-offcanvas .navbar-toggler .icon-bar.bar3 {
			 bottom: 0;
			 outline: 1px solid transparent;
			 animation: bottombar-back 500ms 0s;
			 -webkit-animation: bottombar-back 500ms 0s;
			 -moz-animation: bottombar-back 500ms 0s;
			 -ms-animation: bottombar-back 500ms 0s;
			 animation-fill-mode: forwards;
			 -webkit-animation-fill-mode: forwards;
			 -moz-animation-fill-mode: forwards;
			 -ms-animation-fill-mode: forwards;
		}
		 .navbar-offcanvas .navbar-toggler.toggled .icon-bar.bar1 {
			 top: 6px;
			 animation: topbar-x 500ms 0s;
			 -webkit-animation: topbar-x 500ms 0s;
			 -moz-animation: topbar-x 500ms 0s;
			 -ms-animation: topbar-x 500ms 0s;
			 animation-fill-mode: forwards;
			 -webkit-animation-fill-mode: forwards;
			 -moz-animation-fill-mode: forwards;
			 -ms-animation-fill-mode: forwards;
		}
		 .navbar-offcanvas .navbar-toggler.toggled .icon-bar.bar2 {
			 opacity: 0;
			 -webkit-opacity: 0;
			 -moz-opacity: 0;
			 -ms-opacity: 0;
		}
		 .navbar-offcanvas .navbar-toggler.toggled .icon-bar.bar3 {
			 bottom: 6px;
			 animation: bottombar-x 500ms 0s;
			 -webkit-animation: bottombar-x 500ms 0s;
			 -moz-animation: bottombar-x 500ms 0s;
			 -ms-animation: bottombar-x 500ms 0s;
			 animation-fill-mode: forwards;
			 -webkit-animation-fill-mode: forwards;
			 -moz-animation-fill-mode: forwards;
			 -ms-animation-fill-mode: forwards;
		}
		 .navbar-offcanvas .navbar-collapse.collapse, .navbar-offcanvas .navbar-collapse.collapse.in, .navbar-offcanvas .navbar-collapse.collapsing {
			 display: none !important;
		}
		 .nav-open .navbar-collapse {
			 transform: translate3d(0px, 0, 0);
			 -webkit-transform: translate3d(0px, 0, 0);
			 -moz-transform: translate3d(0px, 0, 0);
			 -ms-transform: translate3d(0px, 0, 0);
		}
		 .nav-open .navbar > .container-fluid {
			 transform: translate3d(-424px, 0, 0);
			 -webkit-transform: translate3d(-424px, 0, 0);
			 -moz-transform: translate3d(-424px, 0, 0);
			 -ms-transform: translate3d(-424px, 0, 0);
		}
		 @media (max-width: 991px) {
			 .nav-open .navbar > .container-fluid {
				 transform: translate3d(-282.6666666667px, 0, 0);
				 -webkit-transform: translate3d(-282.6666666667px, 0, 0);
				 -moz-transform: translate3d(-282.6666666667px, 0, 0);
				 -ms-transform: translate3d(-282.6666666667px, 0, 0);
			}
		}
		 .nav-open .wrapper {
			 transform: translate3d(-150px, 0, 0);
			 -webkit-transform: translate3d(-150px, 0, 0);
			 -moz-transform: translate3d(-150px, 0, 0);
			 -ms-transform: translate3d(-150px, 0, 0);
		}
		 body > .navbar-collapse {
			 display: block !important;
			 position: fixed;
			 top: 0;
			 right: -10px;
			 width: 424px;
			 height: 100%;
			 padding: 60px 1rem;
			 background-color: #fff;
			 border-left: 1px solid #e3e3e3;
			 text-align: center;
			 visibility: visible;
			 overflow-y: visible;
			 transform: translate3d(424px, 0, 0);
			 -webkit-transform: translate3d(424px, 0, 0);
			 -moz-transform: translate3d(424px, 0, 0);
			 -ms-transform: translate3d(424px, 0, 0);
			 transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 z-index: 1032;
		}
		 body > .navbar-collapse:after {
			 content: "";
			 position: absolute;
			 top: 28px;
			 left: -20px;
			 border-left: 10px solid #fff;
			 border-top: 10px solid transparent;
			 border-bottom: 10px solid transparent;
			 border-right: 10px solid transparent;
			 transform: rotate(180deg);
			 -webkit-transform: rotate(180deg);
			 -moz-transform: rotate(180deg);
			 -ms-transform: rotate(180deg);
			 transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			 z-index: 1032;
		}
		 @media (max-width: 991px) {
			 body > .navbar-collapse {
				 width: 282.6666666667px;
			}
		}
		 body > .navbar-collapse .nav-image {
			 margin-bottom: 65px;
		}
		 body > .navbar-collapse .nav-image img {
			 display: block;
			 margin: 0 auto;
			 border: 1px solid rgba(0, 0, 0, .14);
			 width: 100%;
			 height: auto;
		}
		 body > .navbar-collapse .navbar-top {
			 margin: 0 !important;
			 flex-direction: column;
			 -webkit-flex-direction: column;
			 -moz-flex-direction: column;
			 -ms-flex-direction: column;
		}
		 @media (min-width: 992px) {
			 body > .navbar-collapse .navbar-top {
				 display: none;
			}
		}
		 body > .navbar-collapse .navbar-top li {
			 text-align: center;
		}
		 body > .navbar-collapse .navbar-top li a {
			 display: block;
			 padding: 0.5rem 1rem;
			 font-weight: 700;
			 color: #000;
		}
		 body > .navbar-collapse .navbar-top li a:hover, body > .navbar-collapse .navbar-top li a:focus {
			 text-decoration: none;
		}
		 body > .navbar-collapse .nav-link, body > .navbar-collapse .dropdown-toggle {
			 font-weight: 700;
			 color: #222;
			 transition: color 0.2s ease-out;
			 -webkit-transition: color 0.2s ease-out;
			 -moz-transition: color 0.2s ease-out;
			 -ms-transition: color 0.2s ease-out;
		}
		 body > .navbar-collapse .nav-link:hover, body > .navbar-collapse .dropdown-toggle:hover, body > .navbar-collapse .nav-link:focus, body > .navbar-collapse .dropdown-toggle:focus {
			 text-decoration: none;
		}
		 body > .navbar-collapse .nav-link.disabled, body > .navbar-collapse .dropdown-toggle.disabled {
			 color: rgba(0, 0, 0, .35);
		}
		 body > .navbar-collapse .nav-link.disabled:hover, body > .navbar-collapse .dropdown-toggle.disabled:hover, body > .navbar-collapse .nav-link.disabled:focus, body > .navbar-collapse .dropdown-toggle.disabled:focus {
			 cursor: not-allowed;
		}
		 @media (min-width: 992px) {
			 body > .navbar-top {
				 display: none;
			}
		}
		 body > #overlay {
			 content: "";
			 position: fixed;
			 top: 0;
			 left: auto;
			 right: calc(282.6666666667px - 10px);
			 width: 100%;
			 height: 100%;
			 opacity: 0;
			 -webkit-opacity: 0;
			 -moz-opacity: 0;
			 -ms-opacity: 0;
			 overflow-x: hidden;
			 z-index: 1029;
		}
		 @media (min-width: 992px) {
			 body > #overlay {
				 right: calc(424px - 10px);
			}
		}

		 @media only screen and (max-width: 350px) {
		 	body > .navbar-collapse .nav-image {
			 margin-bottom: 30px;
			}
		}
		 @keyframes topbar-x {
			 0% {
				 top: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 top: 6px;
				 transform: rotate(145deg);
				 -webkit-transform: rotate(145deg);
				 -moz-transform: rotate(145deg);
				 -ms-transform: rotate(145deg);
			}
			 75% {
				 transform: rotate(130deg);
				 -webkit-transform: rotate(130deg);
				 -moz-transform: rotate(130deg);
				 -ms-transform: rotate(130deg);
			}
			 100% {
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
		}
		@-webkit-keyframes topbar-x {
			 0% {
				 top: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 top: 6px;
				 transform: rotate(145deg);
				 -webkit-transform: rotate(145deg);
				 -moz-transform: rotate(145deg);
				 -ms-transform: rotate(145deg);
			}
			 75% {
				 transform: rotate(130deg);
				 -webkit-transform: rotate(130deg);
				 -moz-transform: rotate(130deg);
				 -ms-transform: rotate(130deg);
			}
			 100% {
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
		}
		@-moz-keyframes topbar-x {
			 0% {
				 top: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 top: 6px;
				 transform: rotate(145deg);
				 -webkit-transform: rotate(145deg);
				 -moz-transform: rotate(145deg);
				 -ms-transform: rotate(145deg);
			}
			 75% {
				 transform: rotate(130deg);
				 -webkit-transform: rotate(130deg);
				 -moz-transform: rotate(130deg);
				 -ms-transform: rotate(130deg);
			}
			 100% {
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
		}
		@-ms-keyframes topbar-x {
			 0% {
				 top: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 top: 6px;
				 transform: rotate(145deg);
				 -webkit-transform: rotate(145deg);
				 -moz-transform: rotate(145deg);
				 -ms-transform: rotate(145deg);
			}
			 75% {
				 transform: rotate(130deg);
				 -webkit-transform: rotate(130deg);
				 -moz-transform: rotate(130deg);
				 -ms-transform: rotate(130deg);
			}
			 100% {
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
		}
		 @keyframes topbar-back {
			 0% {
				 top: 6px;
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
			 45% {
				 transform: rotate(-10deg);
				 -webkit-transform: rotate(-10deg);
				 -moz-transform: rotate(-10deg);
				 -ms-transform: rotate(-10deg);
			}
			 75% {
				 transform: rotate(5deg);
				 -webkit-transform: rotate(5deg);
				 -moz-transform: rotate(5deg);
				 -ms-transform: rotate(5deg);
			}
			 100% {
				 top: 0px;
				 transform: rotate(0);
				 -webkit-transform: rotate(0);
				 -moz-transform: rotate(0);
				 -ms-transform: rotate(0);
			}
		}
		@-webkit-keyframes topbar-back {
			 0% {
				 top: 6px;
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
			 45% {
				 transform: rotate(-10deg);
				 -webkit-transform: rotate(-10deg);
				 -moz-transform: rotate(-10deg);
				 -ms-transform: rotate(-10deg);
			}
			 75% {
				 transform: rotate(5deg);
				 -webkit-transform: rotate(5deg);
				 -moz-transform: rotate(5deg);
				 -ms-transform: rotate(5deg);
			}
			 100% {
				 top: 0px;
				 transform: rotate(0);
				 -webkit-transform: rotate(0);
				 -moz-transform: rotate(0);
				 -ms-transform: rotate(0);
			}
		}
		@-moz-keyframes topbar-back {
			 0% {
				 top: 6px;
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
			 45% {
				 transform: rotate(-10deg);
				 -webkit-transform: rotate(-10deg);
				 -moz-transform: rotate(-10deg);
				 -ms-transform: rotate(-10deg);
			}
			 75% {
				 transform: rotate(5deg);
				 -webkit-transform: rotate(5deg);
				 -moz-transform: rotate(5deg);
				 -ms-transform: rotate(5deg);
			}
			 100% {
				 top: 0px;
				 transform: rotate(0);
				 -webkit-transform: rotate(0);
				 -moz-transform: rotate(0);
				 -ms-transform: rotate(0);
			}
		}
		@-ms-keyframes topbar-back {
			 0% {
				 top: 6px;
				 transform: rotate(135deg);
				 -webkit-transform: rotate(135deg);
				 -moz-transform: rotate(135deg);
				 -ms-transform: rotate(135deg);
			}
			 45% {
				 transform: rotate(-10deg);
				 -webkit-transform: rotate(-10deg);
				 -moz-transform: rotate(-10deg);
				 -ms-transform: rotate(-10deg);
			}
			 75% {
				 transform: rotate(5deg);
				 -webkit-transform: rotate(5deg);
				 -moz-transform: rotate(5deg);
				 -ms-transform: rotate(5deg);
			}
			 100% {
				 top: 0px;
				 transform: rotate(0);
				 -webkit-transform: rotate(0);
				 -moz-transform: rotate(0);
				 -ms-transform: rotate(0);
			}
		}
		 @keyframes bottombar-x {
			 0% {
				 bottom: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 bottom: 6px;
				 transform: rotate(-145deg);
				 -webkit-transform: rotate(-145deg);
				 -moz-transform: rotate(-145deg);
				 -ms-transform: rotate(-145deg);
			}
			 75% {
				 transform: rotate(-130deg);
				 -webkit-transform: rotate(-130deg);
				 -moz-transform: rotate(-130deg);
				 -ms-transform: rotate(-130deg);
			}
			 100% {
				 transform: rotate(-135deg);
				 -webkit-transform: rotate(-135deg);
				 -moz-transform: rotate(-135deg);
				 -ms-transform: rotate(-135deg);
			}
		}
		@-webkit-keyframes bottombar-x {
			 0% {
				 bottom: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 bottom: 6px;
				 transform: rotate(-145deg);
				 -webkit-transform: rotate(-145deg);
				 -moz-transform: rotate(-145deg);
				 -ms-transform: rotate(-145deg);
			}
			 75% {
				 transform: rotate(-130deg);
				 -webkit-transform: rotate(-130deg);
				 -moz-transform: rotate(-130deg);
				 -ms-transform: rotate(-130deg);
			}
			 100% {
				 transform: rotate(-135deg);
				 -webkit-transform: rotate(-135deg);
				 -moz-transform: rotate(-135deg);
				 -ms-transform: rotate(-135deg);
			}
		}
		@-moz-keyframes bottombar-x {
			 0% {
				 bottom: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 bottom: 6px;
				 transform: rotate(-145deg);
				 -webkit-transform: rotate(-145deg);
				 -moz-transform: rotate(-145deg);
				 -ms-transform: rotate(-145deg);
			}
			 75% {
				 transform: rotate(-130deg);
				 -webkit-transform: rotate(-130deg);
				 -moz-transform: rotate(-130deg);
				 -ms-transform: rotate(-130deg);
			}
			 100% {
				 transform: rotate(-135deg);
				 -webkit-transform: rotate(-135deg);
				 -moz-transform: rotate(-135deg);
				 -ms-transform: rotate(-135deg);
			}
		}
		@-ms-keyframes bottombar-x {
			 0% {
				 bottom: 0px;
				 transform: rotate(0deg);
				 -webkit-transform: rotate(0deg);
				 -moz-transform: rotate(0deg);
				 -ms-transform: rotate(0deg);
			}
			 45% {
				 bottom: 6px;
				 transform: rotate(-145deg);
				 -webkit-transform: rotate(-145deg);
				 -moz-transform: rotate(-145deg);
				 -ms-transform: rotate(-145deg);
			}
			 75% {
				 transform: rotate(-130deg);
				 -webkit-transform: rotate(-130deg);
				 -moz-transform: rotate(-130deg);
				 -ms-transform: rotate(-130deg);
			}
			 100% {
				 transform: rotate(-135deg);
				 -webkit-transform: rotate(-135deg);
				 -moz-transform: rotate(-135deg);
				 -ms-transform: rotate(-135deg);
			}
		}
		 @keyframes bottombar-back {
			 0% {
				 bottom: 6px;
				 transform: rotate(-135deg);
				 -webkit-transform: rotate(-135deg);
				 -moz-transform: rotate(-135deg);
				 -ms-transform: rotate(-135deg);
			}
			 45% {
				 transform: rotate(10deg);
				 -webkit-transform: rotate(10deg);
				 -moz-transform: rotate(10deg);
				 -ms-transform: rotate(10deg);
			}
			 75% {
				 transform: rotate(-5deg);
				 -webkit-transform: rotate(-5deg);
				 -moz-transform: rotate(-5deg);
				 -ms-transform: rotate(-5deg);
			}
			 100% {
				 bottom: 0px;
				 transform: rotate(0);
				 -webkit-transform: rotate(0);
				 -moz-transform: rotate(0);
				 -ms-transform: rotate(0);
			}
		}
	  
	  .full-screen {
	    position: relative;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: url(https://images.pexels.com/photos/5865427/pexels-photo-5865427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	    background-size: cover;
		background-repeat: no-repeat;
	    background-position: center;
	    width: 100%;
/*	    min-width: 100%;*/
	    height: 1000px;
	    display: -ms-flex;
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: column;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    object-fit: contain;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
	    align-items: center;
	    -webkit-justify-content: center;
	    -moz-justify-content: center;
	    -ms-justify-content: center;
	    justify-content: center;
	    text-align: center;
	    margin-bottom: 70px;
	  }
	  
	  h1 {
	    color: #fff;
	    font-family: 'Rubik Mono One', sans-serif;
	    font-weight: 400;
	    font-size: 4em;
	    letter-spacing: -2px;
	    text-align: center;
	    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
	  }
	  
	  h1:after {
	    display: block;
	    color: #fff;
	    letter-spacing: 1px;
	    content: 'a place to spend your time';
	    font-size: .4em;
	    text-align: center;
	  }

	  @media only screen and (max-width: 520px) {
	  	.full-screen h1 {
	  		font-size: 50px !important;
	  	}
	  }

	  @media only screen and (max-width: 420px) {
	  	.full-screen h1 {
	  		font-size: 40px !important;
	  	}
	  }

	  @media only screen and (max-width: 340px) {
	  	.full-screen h1 {
	  		font-size: 35px !important;
	  	}
	  }
	  
	  /*.button-line {
	    font-family: 'Open Sans', sans-serif;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    background: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    text-align: center;
	    font-size: 1.4em;
	    opacity: .8;
	    padding: 20px 40px;
	    text-decoration: none;
	    transition: all .5s ease;
	    margin: 0 auto;
	    display: block;
	    width: 200px;
	  }*/

	  .button-line a {
	  	font-family: 'Rubik Mono One', sans-serif;
	  	font-weight: 400;
	  	font-size: 24px;
	  	text-transform: uppercase;
	  	padding: 10px 25px;
	  	border: 3px solid var(--accent-color);
	  	color: var(--accent-color);
	  	text-decoration: none;
	  	transition: all 0.3s;
	  	-webkit-transition: all 0.3s;
	  	-moz-transition: all 0.3s;
	  	-ms-transition: all 0.3s;
	  }

	  .button-line a:hover {
	  	color: #fff;
	  	border-color: #fff;
	  }
	  
	  .button-line:hover {
	    opacity: 1;
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    -ms-opacity: 1;
	  }

	  @media only screen and (max-width: 500px) {
	  	.button-line a {
	  		font-size: 18px;
	  	}
	  }

	  @media only screen and (max-width: 379px) {
	  	.button-line a {
	  		font-size: 16px;
	  	}
	  }

	  @media only screen and (max-width: 340px) {
	  	.button-line a {
	  		font-size: 14px;
	  	}
	  }


	  	/* Featurettes
		------------------------- */

		.featurette-divider {
		  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
		}

		/* Thin out the marketing headings */
		/* rtl:begin:remove */
		.featurette-heading {
		  letter-spacing: -.05rem;
		}

		.about-us-description {
			margin-top: 100px;
		}

		.lead {
			line-height: 1.6;
		}

		.background-color-2 {
			background: linear-gradient(90deg, #fff 50%, var(--accent-color) 50%);
/*			padding: 250px auto !important;*/
		}

		.background-color-3 {
			background: linear-gradient(90deg, var(--accent-color) 50%, #fff 50%);
		}

		/* rtl:end:remove */

		/* RESPONSIVE CSS
		-------------------------------------------------- */

		@media only screen and (min-width: 1400px) {
			.about-us-description-2 {
				margin-top: 190px;
			}
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			.about-us-description {
				margin-top: 70px;
			}
		}

		@media only screen and (max-width: 1199px) {
			.about-us-description {
				margin-top: inherit;
			}
		}

		@media only screen and (max-width: 767px) {
			.about-us-description {
				margin-bottom: 15px;
			}

			.about-us-description-2 {
				margin-bottom: 15px;
			}
		}

		@media (min-width: 40em) {

		  .featurette-heading {
		    font-size: 50px;
		  }
		}

		@media (min-width: 62em) {
		  .featurette-heading {
		    margin-top: 7rem;
		  }
		}

		@media only screen and (max-width: 639px) {
			.featurette-heading {
				font-size: 40px;
			}
		}

		@media only screen and (max-width: 414px) {
			.lead {
				font-size: 18px;
			}
		}

		@media only screen and (max-width: 355px) {
			.featurette-heading {
				font-size: 30px;
			}

			.lead {
				font-size: 16px !important;
			}
		}

		/* Gallery */
		.portfolio-menu {
			text-align: center;
			align-items: center;
			align-content: center;
		}
		.portfolio-menu .active {
/*			background: var(--accent-color);*/
			color: var(--accent-color);
			padding: 5px 20px;
			border: 2px solid var(--accent-color);
			transition: all 0.3s;
			font-weight: 700;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
		}
		.portfolio-menu ul li {
			display:inline-block;
			margin:0;
			list-style:none;
			padding:10px 15px;
			cursor:pointer;
			-webkit-transition:all 05s ease;
			-moz-transition:all 05s ease;
			-ms-transition:all 05s ease;
			-o-transition:all 05s ease;
			transition:all .5s ease;
		}

		.portfolio-item {
			/*width:100%;*/
		}
		.portfolio-item .item {
			/*width:303px;*/
			float:left;
			margin-bottom:10px;
		}

		.gallery-selection-buttons {
			font-size: 18px;
			font-family: 'Montserrat', sans-serif;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
		}

		.gallery-selection-buttons:hover {
			color: var(--accent-color);
			border: 2px solid var(--accent-color);
		}

		/* Texts Color */
		.main-colors {
			color: var(--accent-color);
			font-family: 'Rubik Mono One', cursive;
			font-style: italic;
		}

		.main-colors-touch {
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
		}

		.main-colors-touch:hover {
			color: var(--accent-color) !important;
		}

		/* Bootstrap Button */
		.btn-outline-dark:hover {
			background: var(--accent-color);
			color: black;
		}

		/* Testimonials */
		

		/* Google Map */
        #map {
            height: 50vh;
            width: 100%;
            margin-bottom: 20px;
        }

        /* Footer */
        .footer-icons {
        	background: var(--accent-color);
        	border-radius: 50%;
        	vertical-align: middle;
        	padding: 10px 17px;
        	font-size: 30px;
        	color: white;
        	margin: 10px;
        	transition: all 0.3s;
        	-webkit-transition: all 0.3s;
        	-moz-transition: all 0.3s;
        	-ms-transition: all 0.3s;
        }

        .footer-icons:hover {
        	color: var(--accent-color);
        	background: transparent;
        	border: 4px solid var(--accent-color);
        }

        .footers .footer-locations {
		  height: 100%;
		  width: 100%;
		  max-width: 100%;
		}

        .footers .footer-locations {
        	font-size: 16px;
        	color: black;
        	text-decoration: none;
        	transition: all 0.3s;
        	-webkit-transition: all 0.3s;
        	-moz-transition: all 0.3s;
        	-ms-transition: all 0.3s;
        	height: 100%;
        	width: 100%;
        }

        .footers .footer-locations .location-icons {
/*        	vertical-align: middle;*/
        	display: flex;
			align-items: center;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			justify-content: center;
			-webkit-justify-content: center;
			-moz-justify-content: center;
			-ms-justify-content: center;
			width: 56px;
			height: 56px;
			font-size: 34px;
			line-height: 0;
			color: #000;
			margin-right: 15px !important;
        }

        .footers .footer-locations a {
          font-size: 16px;
		  color: #000;
		  font-weight: 400;
		  margin: 0 0 5px 0;
		  text-decoration: none;
        }

        .footers .footer-locations a:hover {
        	color: var(--accent-color);
        	text-decoration: underline;
        	text-decoration-color: var(--accent-color);
        }

        .location-margins {
/*        	display: block;*/
        }

        .footer-copyright {
        	color: black;
        	text-decoration: none;
        	transition: all 0.3s;
        	-webkit-transition: all 0.3s;
        	-moz-transition: all 0.3s;
        	-ms-transition: all 0.3s;
        }

        .footer-copyright:hover {
        	color: var(--accent-color);
        	text-decoration: underline;
        	text-decoration-color: var(--accent-color);
        }

        @media only screen and (max-width: 1199px) {
        	.fa-youtube {
        		margin-top: 30px;
        	}
        }

        @media only screen and (max-width: 991px) {
        	.location-margins {
        		margin-top: 50px;
        	}

        	.fa-youtube {
        		margin: 0;
        	}

        	.margin-of-footer-icons {
        		margin-top: 35px !important;
        	}
        }

        @media only screen and (max-width: 429px) {
        	/*.footer-icons {
        		font-size: 24px;
        	}*/

        	.fa-facebook {
        		padding: auto -10px !important;
/*				border-radius: 10px !important;*/
        	}
        }

        @media only screen and (max-width: 380px) {
        	.footer-all-rights-reserved h6 {
        		font-size: 14px !important;
        	}

        	.footer-all-rights-reserved a {
        		font-size: 14px !important;
        	}
        }

        @media only screen and (max-width: 355px) {
        	.fa-youtube {
        		margin-top: 35px;
        	}
        }

        @media only screen and (max-width: 339px) {
        	.margin-of-footer-icons {
        		margin-top: 30px;
        	}
        }

        @media only screen and (max-width: 330px) {
        	.footer-all-rights-reserved h6 {
        		font-size: 12px !important;
        	}

        	.footer-all-rights-reserved a {
        		font-size: 12px !important;
        	}
        }

        /* List of Menu */
        .header-h {
		    font-family: var(--font-rubik-mono-one);
		    font-size: 35px;
		    font-style: italic;
/*		    color: var(--accent-color);*/
		    font-size: 46px;
		    font-weight: 300;
		    }
		ul {
		  list-style:none;
		}
		.header-p {
		  color: var(--accent-color);
		  font-size: 16px;
		}
		.section-padding{
		    padding: 60px 0px;
		}
		.marb-35{
		  margin-bottom: 35px;
		}
		.menu-restaurant
		{
		  width: 50%;
		  float: left;
		  padding: 15px;
		  position: realtive;
		  
		}
		.menu-restaurant .menu-title
		{
		  float: left;
/*		  font-family: 'Dancing Script', cursive;*/
/*		  text-transform: uppercase;*/
/*		  letter-spacing: 2px;*/
		  color: var(--accent-color);
		  font-size: 18px;
/*		  max-width: 300px;*/
		}
		.menu-restaurant .menu-line
		{
		  position: absolute;
		  bottom: 6px;
		  border-bottom: 1px dotted rgba(0,0,0,.3);
		/*  border-bottom: 1px dotted rgba(0,0,0,.3);*/
		  margin-left: .6em;
		  margin-right: .6em;

		}
		.menu-restaurant .menu-price{
		  font-weight: 600;
		  position: absolute;
		  right: 0;
		  top: 0;
		  
		}
		.menu-restaurant .menu-subtitle
		{
		  display: block;
		  float: left;
		  color: #000;
/*		  font-family: 'Montserrat', sans-serif !important;*/
		  font-size: 15px;
		}
		.menu-restaurant span.clearfix{
		  position: relative;
		  display: block;
		}
		.filter {
		    margin: 15px 15px;
		}
		#menu-filters ul li a.active, #menu-filters ul li a:hover
		{
/*		  text-decoration: underline;*/
		  text-decoration-color: var(--accent-color);
		  color: var(--accent-color);
		  padding: 5px 20px;
		  border: 2px solid var(--accent-color);
		}
		#menu-filters ul li 
		{
		  display: inline-block;
		  color: #fff;
		  text-transform: capitalize;
		  letter-spacing: 1px;
		  margin-botttom:40px;
		}
		#menu-filters ul li a
		{
		  padding: 10px 20px;
		  font-size: 18px;
		  color: #000;
		  text-decoration: none;
		  cursor: pointer;
		  
		}
		@media only screen and (max-width: 463px) {
			.popup-menu-filter {
				margin: auto !important;
				display: block;
			}
		}
		@media (min-width: 20px) and (max-width: 450px) 
		{
		  .menu-restaurant 
		  {
		    width: 100%;
		  }
		  .header-h
		  {
		    font-size: 35px;
		  }
		  .header-p 
		  {
		    font-size: 14px;
		  }

		  #menu-filters ul li a {
		  	display: block !important;
		  	flex-direction: column;
		  	-webkit-flex-direction: column;
		  	-moz-flex-direction: column;
		  	-ms-flex-direction: column;
		  	margin: auto;
		  	padding: auto;
		  	width: 100%;
		  }
		  
		}

		@media only screen and (min-width: 451px) and (max-width: 991px) {
			.menu-restaurant .menu-title
			{
			  max-width: 100px;
			}
		}

		@media only screen and (max-width: 440px) {
			.menu-restaurant .menu-title {
				max-width: 250px;
			}
		}

		@media only screen and (max-width: 375px) {
			.menu-restaurant .menu-title {
				max-width: 200px;
			}
		}

		@media only screen and (max-width: 335px) {
			.menu-restaurant .menu-title {
				max-width: 170px;
			}
		}

		@media only screen and (max-width: 361px) {
			#menu-filters ul li a {
				flex-direction: column !important;
				-webkit-flex-direction: column !important;
				-moz-flex-direction: column !important;
				-ms-flex-direction: column !important;
				display: grid !important;
				padding: auto;
				margin: auto;
				text-align: center;
				justify-content: center;
				-webkit-justify-content: center;
				-moz-justify-content: center;
				-ms-justify-content: center;
			}
		}

		/* Menu Button */
		.show-all-menus {
			font-family: var(--font-rubik-mono-one);
			letter-spacing: 1px;
			color: var(--accent-color);
			font-size: 24px;
			padding: 10px 15px;
			border: 3px solid var(--accent-color);
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
		}

		.show-all-menus:hover {
			color: #000;
			cursor: pointer;
			border-color: #000;
		}

		@media only screen and (max-width: 500px) {
		  	.show-all-menus {
		  		font-size: 18px;
		  	}
	    }

	    @media only screen and (max-width: 379px) {
		  	.show-all-menus {
		  		font-size: 16px;
		  	}
	    }

		@media only screen and (max-width: 340px) {
			.show-all-menus {
				font-size: 14px;
			}
		}

		/* Popup Image */
		.popup-btn {
			z-index: 9999999999 !important;
		}

		video {
			width: auto;
			height: 850px;
/*			max-height: 450px !important;*/
			border: 4px solid var(--accent-color);
			background: no-repeat center center/cover;
		}

		@media only screen and (min-width: 768px) and (max-width: 1399px) {
			video {
				max-height: 450px !important;
			}
		}

		@media only screen and (max-width: 505px) {
			video {
				height: 750px;
			}
		}

		@media only screen and (max-width: 450px) {
			video {
				height: 650px;
			}
		}

		@media only screen and (max-width: 395px) {
			video {
				height: 600px;
			}
		}

		@media only screen and (max-width: 365px) {
			video {
				height: 560px;
			}
		}

		@media only screen and (max-width: 340px) {
			video {
				height: 500px;
			}
		}
